.metrics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 60px 4vw;
    border-bottom: 1px solid var(--line)
}

@media(max-width:900px) {
    .metrics {
        grid-template-columns: 1fr 1fr
    }
}

@media(max-width:600px) {
    .metrics {
        grid-template-columns: 1fr
    }
}