.card {
    padding: 38px;
    min-height: 280px;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.card span {
    font-size: 12px;
}

.card h3 {
    font-size: 25px;
    margin: 70px 0 12px;
}

.card p {
    color: var(--muted);
    line-height: 1.55;
}