.logos {
    border-top: 1px solid var(--line);
    border-bottom: 1px solid var(--line);
    padding: 28px 4vw;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    overflow: auto;
    font-weight: 800;
    color: #777;
    white-space: nowrap
}

@media(max-width:900px) {
    .logos {
        justify-content: flex-start
    }
}