.header {
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
    border-bottom: 1px solid var(--line);
    position: sticky;
    top: 0;
    background: rgba(244, 241, 234, .92);
    backdrop-filter: blur(16px);
    z-index: 50
}

.nav {
    display: flex;
    gap: 34px
}

.nav a {
    font-size: 14px;
    font-weight: 600
}

.burger {
    display: none;
    border: 0;
    background: transparent;
    font-size: 26px
}

@media(max-width:900px) {
    .desktop {
        display: none
    }

    .burger {
        display: block
    }

    .nav {
        display: none;
        position: absolute;
        top: 82px;
        left: 0;
        right: 0;
        background: var(--paper);
        padding: 25px;
        flex-direction: column
    }

    .open {
        display: flex
    }
}

@media(max-width:600px) {
    .header {
        height: 70px
    }
}